<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Running log</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
<body>

<div id="container">
	<div id="header"></div>
	<div id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<% @dir_list.each do |f| %>
					<li><a href="/category/<%= f %>"><%= f %></a></li>
				<% end %>
			</ul>
		</div>
	<div id="content">
	<ul>
	<br/>
	<h2>Welcome to the running log, please select your category</h2>
	<img src="images/logo.png"/>
	</ul>
	</div>
</html>
