<form action="upload" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <input type="file" name="uploaded_data" id="uploaded_data"><br/>
  admin pass: <input type="password" name="admin_pass" id="admin_pass">
  <p><input type="submit" value="Continue &rarr;"></p>
</form><a href="/">back</a>